body {
    color: whitesmoke;
    border-radius: 30%;
    background-color: skyblue;
    width: fit-content;
}

header, footer {
    padding: 1px;
    margin: 20px;
    text-align: center;
    background-color: #A0522D;
    border-radius: 10%;
    border: solid white 5px;
}

.sign {
    border: solid brown 5px;
    background-color: burlywood;
    border-radius: 20%;
    padding: 10px;
    margin: 5px 40px;
    text-align: center;
}

a {
    color: whitesmoke;
}

li {
    display: inline-block;
    border: solid brown 5px;
    padding: 10px;
    margin: 5px 40px;
    background-color: burlywood;
    border-radius: 30%;
    font-size: .75cm;
}

section {
    padding: 10px;
    margin: 20px;
    border: solid white 5px;
    background-color: green;
    border-radius: 10%;
}

h3 {
    display: inline-block;
    margin: 20px;
}

img {
    border-radius: 10%;
    margin: 5px 20px;
}

p.hiketext {
    display: inline-block;
    width: 500px;
    padding: 5px;
}
